.home-page-container {
  padding-left: 20px;
  padding-right: 20px;
}

.buttons-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.upload-button {
  cursor: pointer;
  border: 2px solid white;
  color: white;
  border-radius: 10px;
  padding: 8px 25px;
  background-color: rgb(236, 62, 52);
  font-weight: bold;
  font-size: 20px;
  transition: background-color 0.1s ease;
  margin: 10px;

  &:active {
    background-color: black;
  }
}

.download-button {
  cursor: pointer;
  border: 2px solid white;
  color: white;
  border-radius: 10px;
  padding: 8px 10px;
  background-color: rgb(236, 62, 52);
  font-weight: bold;
  font-size: 20px;
  transition: background-color 0.1s ease;
  margin: 10px;

  &:active {
    background-color: black;
  }
}
