.navigation {
  display: flex;
  justify-content: space-between;
  padding: 10px 40px;
  background-color: rgb(50, 50, 50);

  .logo-container {
    width: 300px;
  }

  .logo {
    max-width: 100%;
    height: auto;
  }

  .nav-links-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .log-in-nav-link {
      padding: 10px;
      color: white;
      font-weight: bold;
      text-decoration: none;

      &:hover {
        color: rgb(236, 62, 52);
      }
    }

    .register-nav-link {
      padding: 10px;
      color: white;
      font-weight: bold;
      text-decoration: none;
      border: 2px solid;
      border-radius: 10px;
      border-color: rgb(236, 62, 52);

      &:hover {
        color: rgb(236, 62, 52);
      }
    }
  }
}
