.log-in-container {
  display: flex;
  padding-top: 150px;
  justify-content: center;

  .register-container {
    color: white;
    padding: 0;
    margin: 20px;
  }

  .register-link {
    color: rgb(236, 62, 52);
    text-decoration: none;
  }
}
